@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=PT+Sans+Caption:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Signika:wght@300..700&family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(187, 187, 187);
}
.rubik-font {
  font-family: "Rubik";
}
figcaption {
  font-family: "PT Sans Caption";
  font-size: 0.8rem;
}
.no-underline,
a {
  text-decoration: none;
  color: black;
}
/* Start Header */
header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
  padding: 5px;
}
/* .header-items {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
} */
.name-header {
  font-size: 1.65rem;
  font-family: "Dancing Script";
}
.location-header {
  font-family: "Poppins";
}
.search-head {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}
.category-header {
  flex: 0 0 45px;
  width: 100%;
  height: 35px;
  background-color: lightgray;
  border-radius: 0px;
}
.search-header {
  flex: 1 1;
  height: 35px;
  padding: 1em;
  font-size: 1rem;
  font-family: "Roboto Condensed";
  border-radius: 0px;
}
.search-icon-header {
  background-color: orange;
  flex: 0 0 40px;
  width: 100%;
  height: 35px;
  text-align: center;
  border: 2px solid orange;
  border-radius: 0px;
}
.search-icon-header:hover {
  cursor: pointer;
}
.lang-header {
  flex: 0 1 45px;
  width: 100%;
  height: 35px;
}
.acc-header {
  background-color: black;
  color: white;
  border: black solid;
  flex-basis: 20px;
  font-family: "Poppins";
  font-size: 1rem;
  overflow: hidden;
}
.return-header {
  font-family: "Poppins";
  overflow: hidden;
}
.cart-header {
  font-family: "Poppins";
}
/* End Header */
/* Start Sub-Header */
.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgb(8, 8, 50);
  overflow: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.sub-items {
  font-family: "Syne Mono";
  font-weight: lighter;
  color: white;
  font-size: 1rem;
}
/* End Sub-Header */
/* Start Nav */
nav {
  position: absolute;
  background-color: white;
  color: black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.9rem;
  height: 100vh;
  padding: 1.5rem;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: Signika;
  display: none;
  z-index: 2;
}
nav > .head {
  background-color: rgb(7, 7, 51);
  color: white;
  margin: -1.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

/* End Nav */
/* Start Main */
main.img-animation {
  background: rgb(60, 147, 10);
  background: radial-gradient(
    circle,
    rgb(100, 139, 189) 0%,
    rgb(69, 100, 126) 100%
  );
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.img-animation-item {
  width: 100vw;
  height: fit-content;
}
main.img-animation > img.img-animation-1 {
  animation-name: image-animation-1;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
main.img-animation > img.img-animation-2 {
  animation: image-animation-2 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
main.img-animation > img.img-animation-3 {
  animation: image-animation-3 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes image-animation-1 {
  0% {
    display: block;
  }
  33.5% {
    display: none;
  }
  66% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes image-animation-2 {
  0% {
    display: none;
  }
  33.5% {
    display: none;
  }
  34% {
    display: block;
  }
  66% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes image-animation-3 {
  0% {
    display: none;
  }
  33.5% {
    display: none;
  }
  34% {
    display: none;
  }
  66% {
    display: none;
  }
  67% {
    display: block;
  }
  100% {
    display: none;
  }
}
main.cards {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgb(168, 122, 52) 0%,
    rgb(72, 137, 72) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem 5rem;
  padding: 3rem;
  flex-wrap: wrap;
}
.container-main {
  padding: 1.5rem;
  max-width: 300px;
  min-width: 285px;
  flex: 1 0 20%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: inset 0 0 20px #777777;
}
.container-main3 {
  align-self: stretch;
}
.item-main {
  flex-grow: 0;
  flex-shrink: 1;
}
figcaption {
  text-align: center;
}
/* End Main */
